@import url('../../styles/globals.css');

main {
  margin: 5vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.action-section {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}