@import url('../styles/globals.css');

main {
  text-align: center;
  margin: 2vh;
}

form {
  display: flex;
  margin: 15px;
  align-items: center;
  flex-direction: column;
  gap: 3vh;
}


form input {
  width: 60%;
}

form button {
  width: 40%;
}

.passwords-mismatch {
  color: red;
}

h3 {
  margin-top: 2vh;
}

.input-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px;
}